:root {
  /*
  --background: #0c0029;
  --color: #5e6db5;
  --secondary: #6134cb;
  --success: #d748fe;
  --error: #ff6bb3;
  --warning: #fed748;
  --caret: #340b93;
  --shadow: #1d0061;
  --tooltip: #5e6db5;
  --filter: invert(40%) sepia(8%) saturate(3364%) hue-rotate(192deg) brightness(104%) contrast(84%);
  */
}